    /* CONTENT */
    
    .background-pantai {
        background-size: cover;
        background-position: center;
        height: 35vw;
        width: 100%;
        margin-top: 3vw;
    }
    
    .judul h1 {
        margin: 0vw 0.5vw;
    }
    
    .list-rute li {
        margin-bottom: 2vh;
        font-size: 90%;
        list-style: none;
        padding-bottom: 1vh;
        border-bottom: 1px solid;
    }
    
    .list-rute li p {
        display: inline-block;
        float: right;
    }
    
    .btn-ungu:link,
    .btn-ungu:visited {
        display: inline-block;
        padding: 2vh 2vw;
        border: #6F77EF solid;
        text-decoration: none;
        border-radius: 15px;
        background-color: #6F77EF;
        transition: background-color 0.3s;
    }
    
    .btn-ungu:hover,
    .btn-ungu:active {
        background-color: #505aec;
    }
    
    .btn-ungu h1 {
        color: #fff;
    }
    
    .info {
        font-weight: 100;
        line-height: 2;
    }
    
    .info a:link,
    .info a:visited {
        text-decoration: none;
        border-bottom: 1px solid transparent;
    }
    
    .info a:link,
    .info a:visited {
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.4s;
    }
    
    .info a:hover,
    .info a:active {
        border-bottom: 1px solid;
    }