/* Warna Ungu: #6F77EF 
warna tulisan: #013450 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-weight: 300;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    color: #013450;
}

.b-ungu {
    background-color: #6F77EF;
}

h1 {
    font-size: 200%;
    color: #013450;
}

.color-ungu {
    color: #6F77EF;
}

.color-hitam {
    color: #013450;
}

.color-putih {
    color: #fff;
}

.float-right {
    float: right;
}

.inline-block {
    display: inline-block;
}

.jarak{
    margin-top: 10vh;
}



/* TEXT FORMATTING */

.t-align-right {
    text-align: right;
}

.t-align-justify {
    text-align: justify;
}

.t-align-center {
    text-align: center;
}

.t-align-left {
    text-align: left;
}

.f-style-italic {
    font-style: italic;
}

.d-inline-block {
    display: inline-block;
}

.judul-wisata {
    margin-top: 9vh;
}

.v-margin-10 {
    margin: 10vh 0;
}

.font-size-16 {
    font-size: 80%;
}


/* ROW */

.row {
    max-width: 75vw;
    margin: 0 auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


/* HEADER */

.header {
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav {
    list-style: none;
    margin: 1vh 0;
    float: right;
}

.navbar {
    display: inline-block;
    margin-left: 2vw;
}

.main-nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 80%;
}

.logo {
    height: 50px;
    width: auto;
}

.fa-bars {
    color: #fff;
    padding: 1vh 1vh;
    transition: color 0.3s;
}


/* mobile phones: */

.mobile-margin-top-50 {
    margin-top: 50px;
}

.icon {
    float: right;
    margin-top: 2vh;
}

@media screen and (max-width: 768px) {
    .main-nav {
        float: none;
    }
    .navbar {
        display: none;
    }
    .main-nav {
        display: block;
        margin: 0px 0px;
    }
    .responsive .navbar {
        text-align: left;
        display: block;
    }
    .header {
        padding: 5px 5px;
        /* height: 60px; */
    }
}

@media only screen and (min-width: 768px) {
    .mobile-margin-top-50 {
        margin-top: auto;
    }
    .icon {
        display: none;
    }
    .logo {
        float: left;
    }
}

.picture {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.btn-menu:link,
.btn-menu:visited {
    width: 70%;
    margin:2vh 0vh;
    display: inline-block;
    padding: 2vh 2vw;
    border: #6F77EF solid;
    text-decoration: none;
    border-radius: 15px;
    background-color: #F9FBF5;
    color: #6F77EF;
    transition: background-color 0.3s;
}
    
.btn-menu:hover,
.btn-menu:active {
    background-color: #6F77EF;
    color: #F9FBF5;  
}