html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #013450;
}

* {
	box-sizing: border-box;
	outline-style: none;
}

.grid-container{
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.grid-row{
	margin-left: -15px;
	margin-right: -15px;
}

.grid-row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="grid-item-"] {
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: .75rem;
	padding-bottom: .75rem;
}

[class*="grid-item-right"] {
	float: right !important;
}

[class*="grid-item-center"] {
	float: inherit !important;
	margin: 0 auto;
}

.grid-item-1 {
	width: 8.33%;
}
.grid-item-2 {
	width: 16.66%;
}
.grid-item-3 {
	width: 25%;
}
.grid-item-4 {
	width: 33.33%;
}
.grid-item-5 {
	width: 41.66%;
}
.grid-item-6 {
	width: 50%;
}
.grid-item-7 {
	width: 58.33%;
}
.grid-item-8 {
	width: 66.66%;
}
.grid-item-9 {
	width: 75%;
}
.grid-item-10 {
	width: 83.33%;
}
.grid-item-11 {
	width: 91.66%;
}
.grid-item-12 {
	width: 100%;
}


/* md */

@media (min-width:768px) and (max-width:3000px) {
	.grid-item-md-1 {
		width: 8.33%;
	}
	.grid-item-md-2 {
		width: 16.66%;
	}
	.grid-item-md-3 {
		width: 25%;
	}
	.grid-item-md-4 {
		width: 33.33%;
	}
	.grid-item-md-5 {
		width: 41.66%;
	}
	.grid-item-md-6 {
		width: 50%;
	}
	.grid-item-md-7 {
		width: 58.33%;
	}
	.grid-item-md-8 {
		width: 66.66%;
	}
	.grid-item-md-9 {
		width: 75%;
	}
	.grid-item-md-10 {
		width: 83.33%;
	}
	.grid-item-md-11 {
		width: 91.66%;
	}
	.grid-item-md-12 {
		width: 100%;
	}
}

/* md */

@media (max-width: 767px) {

	.grid-item-md-1 {
		width: 100%;
	}
	.grid-item-md-2 {
		width: 100%;
	}
	.grid-item-md-3 {
		width: 100%;
	}
	.grid-item-md-4 {
		width: 100%;
	}
	.grid-item-md-5 {
		width: 100%;
	}
	.grid-item-md-6 {
		width: 100%;
	}
	.grid-item-md-7 {
		width: 100%;
	}
	.grid-item-md-8 {
		width: 100%;
	}
	.grid-item-md-9 {
		width: 100%;
	}
	.grid-item-md-10 {
		width: 100%;
	}
	.grid-item-md-11 {
		width: 100%;
	}
	.grid-item-md-12 {
		width: 100%;
	}

}

/* xs */

@media (min-width:375px) and (max-width:767px) {

	.grid-item-xs-1 {
		width: 8.33%;
	}
	.grid-item-xs-2 {
		width: 16.66%;
	}
	.grid-item-xs-3 {
		width: 25%;
	}
	.grid-item-xs-4 {
		width: 33.33%;
	}
	.grid-item-xs-5 {
		width: 41.66%;
	}
	.grid-item-xs-6 {
		width: 50%;
	}
	.grid-item-xs-7 {
		width: 58.33%;
	}
	.grid-item-xs-8 {
		width: 66.66%;
	}
	.grid-item-xs-9 {
		width: 75%;
	}
	.grid-item-xs-10 {
		width: 83.33%;
	}
	.grid-item-xs-11 {
		width: 91.66%;
	}
	.grid-item-xs-12 {
		width: 100%;
	}
}

@media (max-width: 374px) {

	.grid-item-xs-1 {
		width: 100%;
	}
	.grid-item-xs-2 {
		width: 100%;
	}
	.grid-item-xs-3 {
		width: 100%;
	}
	.grid-item-xs-4 {
		width: 100%;
	}
	.grid-item-xs-5 {
		width: 100%;
	}
	.grid-item-xs-6 {
		width: 100%;
	}
	.grid-item-xs-7 {
		width: 100%;
	}
	.grid-item-xs-8 {
		width: 100%;
	}
	.grid-item-xs-9 {
		width: 100%;
	}
	.grid-item-xs-10 {
		width: 100%;
	}
	.grid-item-xs-11 {
		width: 100%;
	}
	.grid-item-xs-12 {
		width: 100%;
	}

}

/* image */

img{
	max-width: 100%;
	width: 100%;
}


a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

/* ul */

.ul__list{
	list-style: none;
	padding: 0;
	margin: 0;
}

.ul__list>li{
	display: block;
}

.ul__list--inline {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}

.ul__list--inline>li{
	display: inline-block;
}

/* margin */
.my--auto{
	margin-top: auto !important;
	margin-bottom: auto !important;
}

.mx--auto{
	margin-left: auto !important;
	margin-right: auto !important;
}

.mx--left{
	margin-right: auto !important;
}

.mx--right{
	margin-left: auto !important;
}

.m--0{
	margin: 0 !important;
}

.m--1{
	margin: .25rem !important;
}

.m--2{
	margin: .5rem !important;
}

.m--3{
	margin: 1rem !important;
}

.m--4{
	margin: 1.5rem !important;
}

.m--5{
	margin: 3rem !important;
}

/* top */
.mt--0{
	margin-top: 0 !important;
}

.mt--1{
	margin-top: .25rem !important;
}

.mt--2{
	margin-top: .5rem !important;
}

.mt--3{
	margin-top: 1rem !important;
}

.mt--4{
	margin-top: 1.5rem !important;
}

.mt--5{
	margin-top: 3rem !important;
}

/* bottom */
.mb--0{
	margin-bottom: 0 !important;
}

.mb--1{
	margin-bottom: .25rem !important;
}

.mb--2{
	margin-bottom: .5rem !important;
}

.mb--3{
	margin-bottom: 1rem !important;
}

.mb--4{
	margin-bottom: 1.5rem !important;
}

.mb--5{
	margin-bottom: 3rem !important;
}

/* left */
.ml--0{
	margin-left: 0 !important;
}

.ml--1{
	margin-left: .25rem !important;
}

.ml--2{
	margin-left: .5rem !important;
}

.ml--3{
	margin-left: 1rem !important;
}

.ml--4{
	margin-left: 1.5rem !important;
}

.ml--5{
	margin-left: 3rem !important;
}


/* right */
.mr--0{
	margin-right: 0 !important;
}

.mr--1{
	margin-right: .25rem !important;
}

.mr--2{
	margin-right: .5rem !important;
}

.mr--3{
	margin-right: 1rem !important;
}

.mr--4{
	margin-right: 1.5rem !important;
}

.mr--5{
	margin-right: 3rem !important;
}



/* padding */

.py--auto{
	padding-top: auto !important;
	padding-bottom: auto !important;
}

.px--auto{
	padding-left: auto !important;
	padding-right: auto !important;
}

.px--left{
	padding-right: auto !important;
}

.px--right{
	padding-left: auto !important;
}


.p--0{
	padding: 0 !important;
}

.p--1{
	padding: .25rem !important;
}

.p--2{
	padding: .5rem !important;
}

.p--3{
	padding: 1rem !important;
}

.p--4{
	padding: 1.5rem !important;
}

.p--5{
	padding: 3rem !important;
}

/* top */
.pt--0{
	padding-top: 0 !important;
}

.pt--1{
	padding-top: .25rem !important;
}

.pt--2{
	padding-top: .5rem !important;
}

.pt--3{
	padding-top: 1rem !important;
}

.pt--4{
	padding-top: 1.5rem !important;
}

.pt--5{
	padding-top: 3rem !important;
}

/* bottom */
.pb--0{
	padding-bottom: 0 !important;
}

.pb--1{
	padding-bottom: .25rem !important;
}

.pb--2{
	padding-bottom: .5rem !important;
}

.pb--3{
	padding-bottom: 1rem !important;
}

.pb--4{
	padding-bottom: 1.5rem !important;
}

.pb--5{
	padding-bottom: 3rem !important;
}

/* left */
.pl--0{
	padding-left: 0 !important;
}

.pl--1{
	padding-left: .25rem !important;
}

.pl--2{
	padding-left: .5rem !important;
}

.pl--3{
	padding-left: 1rem !important;
}

.pl--4{
	padding-left: 1.5rem !important;
}

.pl--5{
	padding-left: 3rem !important;
}


/* right */
.pr--0{
	padding-right: 0 !important;
}

.pr--1{
	padding-right: .25rem !important;
}

.pr--2{
	padding-right: .5rem !important;
}

.pr--3{
	padding-right: 1rem !important;
}

.pr--4{
	padding-right: 1.5rem !important;
}

.pr--5{
	padding-right: 3rem !important;
}

/* align */

.text--right{
	text-align: right;
}

.text--left{
	text-align: left;
}

.text--center{
	text-align: center;
}

.text--justify{
	text-align: justify;
}

/* typografi */

h1{
	font-size: 60px;
}

h2{
	font-size: 50px;
}

h3{
	font-size: 40px;
}

h4{
	font-size: 30px;
}

h5{
	font-size: 20px;
}

p{
	font-size: 14px;
}

.bold{
	font-weight: 900 !important;
}

.semibold{
	font-weight: 600 !important;
}

.normal{
	font-weight: normal !important;
}


.text--mini-12{
	font-size: 12px !important;
}

.text--mini-14{
	font-size: 14px !important;
}

.text--mini-18{
	font-size: 18px !important;
}

.text--mini-25{
	font-size: 25px;
}


/* other */

section{
	padding: 80px 0;
}

.radius-5{
	border-radius: 5px;
}

.radius-10{
	border-radius: 10px;
}

.cart{
	background-color: white;
	box-shadow: 0px 10px 25px #e8e8e8;
}

.float--right{
	float: right;
}

.float--left{
	float: left;
}
/* form */
.form--grup{
	margin: 30px 0;
}

.form--grup label{
	font-size: 16px;
	font-weight: 600;
}

.form--input{
	width: 100%;
	margin-top: .5rem;
	height: 40px;
	padding: 8px 5px;
	background-color: transparent;
	border-radius: 5px;
	border: 2px solid #dcdcdc;
	transition: .5s;
	color: #013450;
}

.form--input:hover{
	box-shadow: 0px 5px 10px #dcdcdc;
	border: 2px solid #013450;
	background-color: white;
}

.form--input:focus{
	box-shadow: 0px 5px 10px #dcdcdc;
	border: 2px solid #013450;
	background-color: white;
}

.form--input-blue-2{
	width: 100%;
	margin-top: .5rem;
	height: 40px;
	padding: 8px 5px;
	background-color: transparent;
	border-radius: 5px;
	border: 2px solid #6F77EF;
	transition: .5s;
	color: #6F77EF;
}

.form--input-blue-2:hover{
	box-shadow: 0px 5px 10px #6F77EF;
	border: 2px solid #6F77EF;
	background-color: white;
}

.form--input-blue-2:focus{
	box-shadow: 0px 5px 10px #6F77EF;
	border: 2px solid #6F77EF;
	background-color: white;
}

.form--textarea{
	width: 100%;
	margin-top: .5rem;
	padding: 8px 5px;
	border-radius: 5px;
	border: 2px solid #dcdcdc;
	transition: .5s;
	color: #013450;
	resize: none;
	height: 200px;
	transition: .5s;
}

.form--textarea:hover{
	box-shadow: 0px 5px 10px #dcdcdc;
	border: 2px solid #757575
}

.form--textarea:focus{
	box-shadow: 0px 5px 10px #dcdcdc;
	border: 2px solid #757575
}

.hr--form{
	margin: 40px 0;
	border: 1px solid #00000026;
}

.btn{
	border: none;
	padding: 10px 10px;
	font-size: 20px;
	border-radius: 5px;
	transition: .5s;
}

.btn:hover{
	box-shadow: 0px 20px 40px rgba(63, 61, 86, 0.2);
}

.btn--blue-2{
	background-color: #6F77EF;
	transition: .5s;
}


.btn--blue-2:hover{
	box-shadow: 0px 10px 30px RGBA(111, 119, 239, 0.36);
}

.btn--gray-1{
	background-color: #CCCCCC;
	transition: .5;
	opacity: .5;
}

.btn--gray-1:hover{
	opacity: 1;
}

.btn--outline-blue-2{
	border: 3px solid #6F77EF;
	transition: .5s;
}

.btn--outline-blue-2:hover{
	color: white;
	background-color: #6F77EF;
	box-shadow: 0px 10px 30px RGBA(111, 119, 239, 0.36);
}

ul>li> .active{
	background-color: #6F77EF !important;
	color: white !important
}

.btn--login{
	padding: 10px 30px;
}

.btn--100{
	width: 100%;
}

.p--relative{
	position: relative;
}

.d--inline-block{
	display: inline-block;
}

.d--block{
	display: block;
}

.d--none{
	display: none;
}

.v--middle{
	vertical-align: middle;
}

.overflow--h{
	overflow:  hidden;
}
/* color */
.color--gray-1{
	color: #CCCCCC;
}

.color--gray-2{
	color: #E8F0E8;
}

.color--gray-3{
	color: #A5B7B4;
}

.color--green-1{
	color: #449F99;
}

.color--blue-1{
	color: #013450;
}

.color--blue-2{
	color: #6F77EF;
}

.color--white-1{
	color: white;
}

.color--white-2{
	color: #F9FBF5;
}

.color--red{
	color: red;
}

/* background */

.bg--gray-1{
	background-color: #CCCCCC;
}

.bg--gray-2{
	background-color: #E8F0E8;
}

.bg--gray-3{
	background-color: #A5B7B4;
}

.bg--green-1{
	background-color: #449F99;
}

.bg--blue-1{
	background-color: #013450;
}

.bg--blue-2{
	background-color: #6F77EF;
}

.bg--white-1{
	background-color: white;
}

.bg--white-2{
	background-color: #F9FBF5;
}

/* header */
.brand--situwisata img{
	width: auto;
	height: 50px;
}
.d-inline-block{
	display: inline-block;
}
.situwisata--header{
	background-image: url('../../Resources/img/beach-clouds-daytime-994605.jpg');
	background-size: 100%;
	background-position: center;
	position: relative;
	background-repeat: no-repeat;
	object-fit: cover;
}

.situwisata--header-bg{
	position: absolute;
	content: " ";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(68, 159, 153, 0.47);
}

.component--buddalkan{
	background-color: rgba(255, 255, 255, 0.28);
	transition: .5s;
}

.component--buddalkan:hover{
	background-color: white;
}

.component--buddalkan:hover span{
	color: #449F99;
}

.component--step{
	width: 45px;
	height: 45px;
	border-radius: 45%;
	background-color: #6F77EF;
	line-height: 50px;
	display: inline-block;
}

.component--image-left{
	height: 200px;
	width: 200px;
	object-fit: cover;
}

.component--image-right{
	width: 200px;
	height: 413px;
	object-fit: cover;
}

.component--image-step{
	width: 180px;
	height: 180px;
	text-align: center;
	position: relative;
	background-color: rgb(111, 119, 239);
}

.component--image-step img{
	object-fit: contain;
	position: absolute;
	height: 130px;
	width: 130px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.no--bg{
	background-color: transparent !important;
}

.shadow{
	box-shadow: 0px 30px 50px rgba(108, 108, 108, 0.3);
}

.box-preview{
	overflow: hidden;
}

.component--image-review{
	width:100%;
	height: 350px;
	object-fit: cover;
	object-position: center;
	transition: .5s;
}

.component--image-review:hover{
	transform: scale(1.5);
}

.component--social{
	vertical-align: text-top;
}

.component--hotel-image-detail{
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.component--hotel-image-detail img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.component--rating li a img{
	width: 35px;
}

.component--rating-artikel li a img{
	width: 15px;
}

.component--hotel-image-descripsi{
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: center
}

.fixed--navbar{
	position: fixed;
	width: 100%;
	box-shadow: 0px 10px 25px  rgb(144, 144, 144);
}


.component--generate-table{
	font-size: 18px;
	width: 100%;
}

.component--generate-table tbody tr td{
	padding-bottom: 10px;
}

.fixed-nav {
	position: fixed;
	background-color: #6F77EF;
	width: 100%;
	top: 0;
	left: 0;
	width: 100%;
	right: 0;
	z-index: 99;
	max-width: 100%;
}

.fixed-nav nav{
	max-width: 1200px;
	margin: 0 auto;
}

.component--button-add a>div{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	background-color: #6F77EF;
	color: white;
	text-align: center;
	font-size: 25px;
}

.component--card-hotel> img:nth-child(1){
	height: 200px;
	object-fit: cover;
	border-radius: 5px;
}

.component--pagination li a{
	color: #6F77EF;
}

.component--pagination li .active{
	padding:  5px 10px;
	color: white;
	background-color:  #6F77EF;
}

.img--radius{
	border-radius: 50%;
	width: 35px;
	height: 35px;
}

/* sidenav */
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	background-color: #6F77EF;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	text-align:center;
}


.show--mobile{
	display: none !important;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	transition: 0.3s;

}

.sidenav a:hover{
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.component--card-login{
	border: 3px solid #6F77EF;
}

.validate--email{
	display: none;
}

.validate--password{
	display: none;
}

.modal{
	z-index: 999;
	margin: 0 auto;
	max-width: 500px;
}

.overlay--modal{
	background-color: #cccccc57;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	display: none;
	z-index: 999;
}

.modal-body{
	background-color: white;
	border-radius: 15px;
}

.modal-show{
	display: block;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

@media (max-width: 768px) {

	.component--image-homepage>li{
		display: inline-block;
		margin-bottom: 0;
	}

	.component--image-homepage>li:nth-child(1){
		margin-right: 5px;
	}

	.component--image-right {
		width: 200px;
		height: 200px;
		object-fit: cover;
	}

}


@media screen and (max-width: 768px){
	.hidden--mobile{
		display: none !important;
	}
	.show--mobile{
		display: inline-block !important;
	}
}

@media screen and (max-width: 375px) {
	.component--image-step{
		width: 100px;
		height: 100px;
	}

	.component--image-step img{
		height: 50px;
		width: 50px;
	}

	.situwisata--header{
		background-size: cover;
	}

	.component--list-img-hompage{
		text-align: center;
	}
	.component--image-homepage>li:nth-child(1){
		margin: 0;
	}

	.component--image-left,.component--image-right  {
		height: 200px;
		width: 100%;
		object-fit: cover;
	}
	.overlay--modal {
		
	}

	@keyframes open_modal{
		from{
			transform: scale(0);
			opacity: 0;
			z-index: -1;
		}
		to{
			transform: scale(1);
			opacity: 1;
			z-index: 2;
		}
	}

	@keyframes close_modal{
		from{
			transform: scale(1);
			opacity: 1;
			z-index: 2;
		}
		to{
			transform: scale(0);
			opacity: 0;
			z-index: -1;
		}
	}
}